*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}
h1 {
    font-family: 'Great Vibes';
    font-size: var(--fs-xl-titre1);
    color: var(--texte);
}
h2 {
    font-family: 'Merriweather';
    font-size: var(--fs-xl-titre2);
    color: var(--texte);
}
h3 {
    font-family: 'Merriweather';
    font-size: var(--fs-xl-titre3);
    color: var(--texte);
}
p {
    font-family: 'Open sans';
    font-size: var(--fs-xl-texte);
    color: var(--texte);
}
li {
    font-family: 'Open sans';
    font-size: var(--fs-xl-li);
    color: var(--texte);
}

/* --------Accueil---------*/

header {
    width: 100%;
}

.accueil-p1 {
    width: 100%;
    height: 340px;
    padding: 20px 0 20px 0;
    background-color: var(--sobre1);
    display: grid;
    grid-template-columns: 550px 1fr 474px;
}
.accueil-p1-texte {
    grid-column: 1;
    width: 100%;
    height: 300px;
    padding: 0 30px 0 30px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 100px 80px 1fr;
}
.accueil-p1-texte h1 {
    grid-row: 2;
}
.accueil-p1-texte p {
    grid-row: 3;
}
.accueil-p1 img {
    grid-column: 2 /span 3;
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.accueil-p2 {
    width: 100%;
    height: 440px;
    padding: 20px 0 20px 0;
    background-color: var(--accent2);
    display: grid;
    grid-template-columns: 424px 1fr 600px;
}
.accueil-p2-texte {
    grid-column: 3;
    width: 100%;
    height: 400px;
    padding: 0 30px 0 30px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 100px 150px 1fr;
}
.accueil-p2-texte h2 {
    grid-row: 2;
}
.accueil-p2-texte p {
    grid-row: 3;
}
.accueil-p2 img {
    grid-column: 1 /span 2;
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* --------Contenu---------*/

section {
    width: 100%;
}

.contenu-p1 {
    width: 100%;
    height: 760px;
    padding: 30px 0 30px 0;
    background-color: var(--sobre2);
    display: grid;
    grid-template-columns: 650px 1fr 374px;
}
.contenu-p1-texte {
    grid-column: 1;
    width: 100%;
    height: 700px;
    padding: 0 30px 0 30px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 130px 270px 200px 1fr;
}
.contenu-p1-texte h2 {
    grid-row: 2;
    text-align: left;
    margin-left: 70px;
}
.contenu-p1-texte p {
    grid-row: 3;
    text-align: left;
    margin-left: 70px;
}
.contenu-p1 img {
    grid-column: 2 /span 3;
    object-fit: cover;
    width: 100%;
    height: 700px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.contenu-p1-btns {
    width: 100%;
    height: 150px;
    grid-row: 4;
    text-align: center;
    display: grid;
    grid-template-columns: 70px 470px;
    grid-template-rows: 70px 10px 70px;
}

.contenu-p2 {
    width: 100%;
    height: 860px;
    padding: 30px 0 30px 0;
    background-color: var(--accent1);
    display: grid;
    grid-template-columns: 324px 1fr 700px;
}
.contenu-p2-texte {
    grid-column: 3;
    width: 100%;
    height: 800px;
    padding: 0 30px 0 30px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 150px 350px 250px 1fr;
}
.contenu-p2-texte h2 {
    grid-row: 2;
    text-align: right;   
    margin-right: 70px;
}
.contenu-p2-texte p {
    grid-row: 3;
    text-align: right;
    margin-right: 70px;
}
.contenu-p2 img {
    grid-column: 1 /span 2;
    object-fit: cover;
    width: 100%;
    height: 800px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.contenu-p2-btns {
    width: 100%;
    height: 200px;
    grid-row: 4;
    text-align: center;
    display: grid;
    grid-template-columns: 50px 255px 10px 255px 70px;
    grid-template-rows: 110px 10px 80px;
}

/* --------Boutons---------*/

.btn {
    display: flex;
    background-color: transparent;
    color: var(--texte);
    border: solid 3px var(--texte);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: var(--fs-xl-bouton);
    font-family: 'Merriweather';
    font-weight: bold;
    border-radius: 10px;
    padding: 0 10px;
}
.contenu-p1-btns .b1 {
    grid-row: 1;
    grid-column: 2;
}
.contenu-p1-btns .b2 {
    grid-row: 3;
    grid-column: 2;
}
.contenu-p1-btns .b1:hover , .contenu-p1-btns .b2:hover {
    transition: all 0.1s ease-in-out;
    color: var(--sobre2);
    background-color: var(--texte);
}
.contenu-p2-btns .b1 {
    grid-row: 1;
    grid-column: 2;
}
.contenu-p2-btns .b2 {
    grid-row: 1;
    grid-column: 4;
}
.contenu-p2-btns .b3 {
    grid-row: 3;
    grid-column: 2 /span 3;
}
.contenu-p2-btns .b1:hover , .contenu-p2-btns .b2:hover , .contenu-p2-btns .b3:hover {
    transition: all 0.1s ease-in-out;
    color: var(--accent1);
    background-color: var(--texte);
}

/* --------Footer---------*/

footer {
    width: 100%;
    height: 290px;
    padding: 20px 0;
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 370px 1fr 284px 1fr 370px;
    align-items: center;
    justify-content: center;
    text-align: left;
}
footer ul {
    list-style: none;
}
.mail2 , .num2 {
    display: none;
}
.footer-p1 {
    width: 100%;
    height: 250px;
    grid-column: 1;
    padding: 0 30px 0 30px;
    border-right: dashed 2px var(--texte);
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 50px 170px 1fr;
}
.footer-p1 h3 {
    grid-row: 2;
}
.footer-p1 ul {
    grid-row: 3;
}

.footer-p2 {
    width: 100%;
    height: 250px;
    grid-column: 3;
    padding: 0 10px 0 10px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 50px 170px 1fr;
}
.footer-p2 h3 {
    grid-row: 2;
    text-align: center;
}
.footer-p2 ul {
    grid-row: 3;
    text-align: center;
}

.footer-p3 {
    width: 100%;
    height: 250px;
    grid-column: 5;
    padding: 0 30px 0 30px;
    border-left: dashed 2px var(--texte);
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 50px 170px 1fr;
}
.footer-p3 h3 {
    grid-row: 2;
    text-align: right;
}
.footer-p3 ul {
    grid-row: 3;
    text-align: right;
    list-style-position: inside;
}

footer ul li a {
    text-decoration: underline;
    color: var(--texte);
}
footer ul li a:hover {
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: var(--accent1);
} 